.ingred_add__button
    display: block
    margin: 10px
    padding: 0.1vh 0.2vh
    font-size: 4vh
    color: #fff
    background-color: #E7655C
    border: 2px solid #fff
    border-radius: 20px
    cursor: pointer
    transition: .3s
    @media(orientation: portrait)
        border-radius: 6px
        font-size: 4vw
        width: 30%
        border: 0px solid transparent
        margin: 2px
        flex-grow: 1
    &:hover
        color: #fff
        background-color: #54cc94
