.ingred_add__button
    display: inline-block
    width: 80%
    margin: 10px auto
    padding: 0.1vh 0.2vh
    font-size: 4vh
    text-align: center
    color: #fff
    background-color: #3dbacc
    border: 2px solid #fff
    border-radius: 20px 10px
    cursor: pointer
    transition: .3s

    &:hover
        color: #fff
        background-color: #E7655C
