.ingred_dispencer
    // position: relative
    z-index: 3
    display: flex
    flex-basis: 14vw
    flex-direction: column
    flex-grow: 0
    justify-content: space-between
    order: -1
    @media (orientation: portrait)
        flex-direction: row
        flex-basis: 14vh

    &__plate
        // background-image: url('dispencer_plate.svg')
        flex-basis: 40vh
        // position: relative
        display: flex
        align-items: center
        justify-content: center
        @media (orientation: portrait)
            flex-basis: 48vw

    &__plate_image
        position: absolute
        bottom: 60vh
        right: 86vw
        width: 80vh
        height: 80vh
        @media (orientation: portrait)
            width: 80vw
            height: 80vw
            top: calc( 14vh - 80vw)
            right: 52vw

    &__bin
        // background-color: #2e2d2d
        align-items: center
        justify-content: center
        flex-basis: 40vh
        overflow: hidden
        @media (orientation: portrait)
            flex-basis: 40vw
            // order: -1

    &__bin_image
        z-index: -2
        position: absolute
        top: 60vh
        right: 86vw
        width: 80vh
        height: 80vh
        @media (orientation: portrait)
            width: 80vw
            height: 80vw
            top: calc( 14vh - 80vw)
            right: unset
            left: 52vw
