.ingred_dispencer
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    order: -1
    flex-grow: 2
    overflow: visible

    &__plate
        background-color: #fff
        flex-basis: 40vh

    &__bin
        background-color: #2e2d2d
        flex-basis: 40vh
