.ingred_adder
    flex-basis: 9vw
    display: flex
    flex-grow: 2
    overflow: visible
    @media(orientation: portrait)
        flex-direction: column

    &__tabs
        flex-grow: 0.6
        display: flex
        flex-direction: column
        background-color: unset
        justify-content: space-between
        z-index: 1
        @media(orientation: portrait)
            flex-direction: row

    &__tab
        cursor: pointer
        padding-right: 10px
        line-height: 0.5
        border-radius: 10px 0 0 10px
        z-index: 2
        margin: 0
        height: 16vh
        font-size: 4vh
        writing-mode: vertical-rl
        text-orientation: mixed
        background-color: #ccc
        transform: scale(1.1)
        @media(orientation: portrait)
            height: 4vw
            writing-mode: unset

        &--active
            background-color: #fff
            transition: transform .3s
            transform: scale(1.2)

    &__buttons
        display: flex
        flex-direction: column
        justify-content: center
        flex-basis: 8vw
        background-color: #fff
        z-index: 3
        @media(orientation: portrait)
            flex-direction: row
            flex-wrap: wrap
            align-items: flex-start
            height: 50vw
