.App
  position: relative
  text-align: center
  width: 100vw
  height: 100vh
  overflow: hidden

.pizza_building
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 80vh
  height: 80vh
  overflow: visible
  @media(orientation: portrait)
    width: 80vw
    height: 80vw

.ingred_portal
  position: absolute
  top: 20px
  left: 20px

  width: 20vh
  height: 20vh
  overflow: visible
