.App
  display: flex
  flex-direction: row
  position: relative
  text-align: center
  width: 100vw
  height: 100vh
  overflow: hidden

.pizza_building
  position: relative
  flex-grow: 10
  overflow: visible
  @media(orientation: portrait)
    width: 80vw
    height: 80vw

.ingred_adder
  // position: absolute
  // right: 0
  // top: 0
  flex-grow: 2
  overflow: visible
  background-color: #fff

.pizza
  height: 80vh
  width: 80vh
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
