html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

body {
  background-color: #3dbacc;
  overflow: hidden;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
}