
.ingredient
    position: absolute
    width: 20vh
    height: 20vh
    transition: transform .1s

.regular
    margin-left: 2vh
    margin-top: 2vh

.chilli
    width: 6vh
    height: 6vh
    margin-left: 10vh
    margin-top: 10vh
