.ingredient
    position: absolute
    width: 18vh
    height: 18vh
    margin-left: 1vh
    margin-top: 11vh
    transition: transform .1s

    &--chilli_red, &--chilli_yellow, &--chilli_green, &--feta
        width: 6vh
        height: 6vh
        margin-left: 7vh
        margin-top: 17vh

    &--ham, &--prosciutto
        width: 28vh
        height: 12vh
        margin-left: -4vh
        margin-top: 14vh

    &--salami
        width: 14vh
        height: 14vh
        margin-left: 3vh
        margin-top: 13vh

    &--olive_green, &--olive_black
        width: 6vh
        height: 10vh
        margin-left: 7vh
        margin-top: 15vh

    &--cocktail_tomato, &--shrimp
        width: 12vh
        height: 12vh
        margin-left: 4vh
        margin-top: 14vh

    &--pineapple, &--mussel
        width: 8vh
        height: 8vh
        margin-left: 6vh
        margin-top: 16vh

    &--shrimp_shell
        width: 24vh
        height: 14vh
        margin-left: -2vh
        margin-top: 13vh

    &--shroom_dark, &--shroom_light
        width: 16vh
        height: 12vh
        margin-left: 2vh
        margin-top: 14vh

    &--camembert, &--mussel_opened, &--mussel_closed, &--octopus
        width: 20vh
        height: 8vh
        margin-left: 0
        margin-top: 16vh

    &--mussel_opened, &--mussel_closed
        width: 22vh
        height: 14vh
        margin-left: -1vh
        margin-top: 13vh

    &--camembert_half
        width: 12vh
        height: 8vh
        margin-left: 4vh
        margin-top: 16vh

    &--rokpol_blue, &--rokpol_gold
        width: 18vh
        height: 14vh
        margin-left: 1vh
        margin-top: 13vh

    &--rucola
        width: 28vh
        height: 16vh
        margin-left: -4vh
        margin-top: 12vh

    &--basil
        width: 16vh
        height: 8vh
        margin-left: 2vh
        margin-top: 16vh
